In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("./sales_data_types.csv")

In [ ]:
df

In [ ]:
df['2016'] + df['2017']

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df['Customer Number'].astype('int') # to convert a pandas column of data to a different type is to use

In [ ]:
df["Customer Number"] = df['Customer Number'].astype('int')
df.dtypes

In [ ]:
df

In [ ]:
#df['2016'].astype('float') #ValueError

In [ ]:
#df['Jan Units'].astype('int') #ValueError

In [ ]:
df['Active'].astype('bool')

astype() will only work if:

    the data is clean and can be simply interpreted as a number
    you want to convert a numeric value to a string object

Custom Conversion Functions

In [ ]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [ ]:
df['2016'].apply(convert_currency)

In [ ]:
df['2016'] = df['2016'].apply(convert_currency)
df['2017'] = df['2017'].apply(convert_currency)

df.dtypes

In [ ]:
df

In [ ]:
def convert_percent(val):
    """
    Convert the percentage string to an actual floating point percent
    - Remove %
    - Divide by 100 to make decimal
    """
    new_val = val.replace('%', '')
    return float(new_val) / 100

In [ ]:
df['Percent Growth'].apply(convert_percent)

In [ ]:
df['Percent Growth'] = df['Percent Growth'].apply(convert_percent)
df

In [ ]:
df["Active"] = np.where(df["Active"] == "Y", True, False)

In [ ]:
print(df)
print(df.dtypes)

In [ ]:
pd.to_numeric(df['Jan Units']) # Raise the except - default value

In [ ]:
pd.to_numeric(df['Jan Units'], errors='coerce') # set as NaN.

In [ ]:
pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)
# it replaces the invalid “Closed” value with a NaN value because we passed errors=coerce .
# We can leave that value there or fill it in with a 0 using fillna(0)

In [ ]:
pd.to_datetime(df[['Month', 'Day', 'Year']])

In [ ]:
df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']])
df["Jan Units"] = pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

In [ ]:
df

In [ ]:
df.dtypes

## Exercise 1

* Age is int64 type
** isinstance(val, str) to determine the val is string or not
** val.isdigit() to dterminte the string is digital or not


* Convert Month, Day and Year to datetime as Column ["End Date"]
* Convert Is_Employed to Boolean
* Convert None salary to zero using isna()

In [ ]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, "30", 40],
    'Salary': [50000.0, 60000.0, 70000.0, None, 80000.0],
    'Is_Employed': ['Yes', 'No', 'True', 'No', 'Yes'],
    'Month': [1, 6, 3, 12, 8],
    'Day': [1, 15, 10, 5, 20],
    'Year': [2020, 2019, 2021, 2020, 2018]
}