In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page with the table
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

# Send a GET request to the page
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the page content
    soup = BeautifulSoup(response.text, 'html.parser')
    #print(soup.prettify())

    # Find the table with GDP data (the table is under the class "wikitable")
    table = soup.find('table', class_='wikitable')
    #print(table)

    # Extract table headers
    headers = []
    #headers = [header.text.strip() for header in table.find_all('th')]

    ##
    # ValueError: 10 columns passed, passed data had 7 columns
    ##
    for header in table.find_all('th'):
        colspan = int(header.get('colspan', 1))
        if colspan == 1:
            headers.append(header.text.strip())

    print("Headers:", headers)


    # Extract table rows
    rows = table.find_all('tr')[1:]  # Skip the header row

    # Initialize lists to hold row data
    data = []
    for row in rows:
        cells = row.find_all('td')
        if len(cells) > 0:
            row_data = [cell.text.strip() for cell in cells]
            print("Row data:", row_data)
            data.append(row_data)
    # Create a DataFrame from the data
    df = pd.DataFrame(data, columns=headers)

    # Print the DataFrame
    print(df.head())

    # Save the DataFrame to a CSV file
    df.to_csv('gdp_data.csv', index=False)

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Headers: ['Country/Territory', 'Forecast', 'Year', 'Estimate', 'Year', 'Estimate', 'Year']
Row data: ['World', '109,529,216', '2024', '105,435,540', '2023', '100,834,796', '2022']
Row data: ['United States', '28,781,083', '2024', '27,360,935', '2023', '25,744,100', '2022']
Row data: ['China', '18,532,633', '[n 1]2024', '17,794,782', '[n 3]2023', '17,963,170', '[n 1]2022']
Row data: ['Germany', '4,591,100', '2024', '4,456,081', '2023', '4,076,923', '2022']
Row data: ['Japan', '4,110,452', '2024', '4,212,945', '2023', '4,232,173', '2022']
Row data: ['India', '3,937,011', '2024', '3,549,919', '2023', '3,465,541', '2022']
Row data: ['United Kingdom', '3,495,261', '2024', '3,340,032', '2023', '3,089,072', '2022']
Row data: ['France', '3,130,014', '2024', '3,030,904', '2023', '2,775,316', '2022']
Row data: ['Brazil', '2,331,391', '2024', '2,173,666', '2023', '1,920,095', '2022']
Row data: ['Italy', '2,328,028', '2024', '2,254,851', '2023', '2,046,952', '2022']
Row data: ['Canada', '2,242,182', '2024', '2,140,086', '2023', '2,137,939', '2022']
Row data: ['Russia', '2,056,844', '2024', '2,021,421', '2023', '2,240,422', '2022']
Row data: ['Mexico', '2,017,025', '2024', '1,788,887', '2023', '1,463,323', '2022']
Row data: ['Australia', '1,790,348', '2024', '1,723,827', '2023', '1,776,577', '2022']
Row data: ['South Korea', '1,760,947', '2024', '1,712,793', '2023', '1,673,916', '2022']
Row data: ['Spain', '1,647,114', '2024', '1,580,695', '2023', '1,415,874', '2022']
Row data: ['Indonesia', '1,475,690', '2024', '1,371,171', '2023', '1,319,100', '2022']
Row data: ['Netherlands', '1,142,513', '2024', '1,118,125', '2023', '1,008,027', '2022']
Row data: ['Turkey', '1,113,561', '2024', '1,108,022', '2023', '907,118', '2022']
Row data: ['Saudi Arabia', '1,106,015', '2024', '1,067,583', '2023', '1,108,148', '2022']
Row data: ['Switzerland', '938,458', '2024', '884,940', '2023', '818,426', '2022']
Row data: ['Poland', '844,623', '2024', '811,229', '2023', '688,125', '2022']
Row data: ['Taiwan', '802,958', '[n 4]2024', '—', '—']
Row data: ['Belgium', '655,192', '2024', '632,217', '2023', '582,643', '2022']
Row data: ['Sweden', '623,048', '2024', '593,268', '2023', '591,188', '2022']
Row data: ['Argentina', '604,260', '2024', '640,591', '2023', '631,133', '2022']
Row data: ['Ireland', '564,020', '2024', '545,629', '2023', '532,415', '2022']
Row data: ['Thailand', '548,890', '2024', '514,945', '2023', '495,340', '2022']
Row data: ['Austria', '540,887', '2024', '516,034', '2023', '470,302', '2022']
Row data: ['Israel', '530,664', '2024', '509,902', '2023', '525,002', '2022']
Row data: ['United Arab Emirates', '527,796', '2024', '504,173', '2023', '507,063', '2022']
Row data: ['Norway', '526,951', '2024', '485,513', '2023', '579,422', '2022']
Row data: ['Singapore', '525,228', '2024', '501,428', '2023', '466,788', '2022']
Row data: ['Philippines', '471,516', '2024', '437,146', '2023', '404,284', '2022']
Row data: ['Vietnam', '465,814', '2024', '429,717', '2023', '408,802', '2022']
Row data: ['Iran', '464,181', '2024', '401,505', '2023', '398,047', '2022']
Row data: ['Bangladesh', '455,162', '2024', '437,415', '2023', '432,677', '2022']
Row data: ['Malaysia', '445,519', '2024', '399,649', '2023', '406,305', '2022']
Row data: ['Denmark', '409,989', '2024', '404,199', '2023', '400,167', '2022']
Row data: ['Hong Kong', '406,775', '[n 5]2024', '382,055', '2023', '359,838', '2022']
Row data: ['Colombia', '386,076', '2024', '363,540', '2023', '343,939', '2022']
Row data: ['South Africa', '373,233', '2024', '377,782', '2023', '405,270', '2022']
Row data: ['Romania', '369,971', '2024', '351,003', '2023', '300,690', '2022']
Row data: ['Egypt', '347,594', '2024', '395,926', '2023', '409,306', '2022']
Row data: ['Pakistan', '338,237', '2023', '338,368', '2023', '326,796', '2022']
Row data: ['Chile', '333,760', '2024', '335,533', '2023', '300,686', '2022']
Row data: ['Czech Republic', '325,880', '2024', '330,858', '2023', '290,527', '2022']
Row data: ['Finland', '308,055', '2024', '300,187', '2023', '282,511', '2022']
Row data: ['Portugal', '298,949', '2024', '287,080', '2023', '254,849', '2022']
Row data: ['Kazakhstan', '296,740', '2024', '261,421', '2023', '225,496', '2022']
Row data: ['Peru', '282,458', '2024', '267,603', '2023', '242,631', '2022']
Row data: ['Algeria', '266,780', '2024', '239,899', '2023', '191,912', '2022']
Row data: ['Iraq', '265,894', '2024', '250,843', '2023', '264,182', '2022']
Row data: ['New Zealand', '257,625', '2024', '253,466', '2023', '245,845', '2022']
Row data: ['Nigeria', '252,738', '2024', '362,815', '2023', '475,058', '2022']
Row data: ['Greece', '250,276', '2024', '238,206', '2023', '217,285', '2022']
Row data: ['Qatar', '244,686', '2024', '235,770', '2022', '237,101', '2022']
Row data: ['Hungary', '223,413', '2024', '212,389', '2023', '177,337', '2022']
Row data: ['Ethiopia', '205,130', '2024', '163,698', '2023', '118,971', '2022']
Row data: ['Ukraine', '188,943', '[n 6]2024', '178,757', '[n 6]2023', '160,502', '[n 6]2022']
Row data: ['Kuwait', '160,397', '2024', '161,772', '2023', '175,363', '2022']
Row data: ['Morocco', '152,377', '2024', '141,109', '2023', '130,912', '[n 7]2022']
Row data: ['Cuba', '—', '—', '147,193', '2022']
Row data: ['Slovakia', '140,808', '2024', '132,794', '2023', '115,304', '2022']
Row data: ['Dominican Republic', '127,356', '2024', '121,444', '2023', '113,537', '2022']
Row data: ['Ecuador', '121,592', '2024', '118,845', '2023', '115,049', '2022']
Row data: ['Puerto Rico', '117,763', '2024', '117,902', '2023', '113,434', '2022']
Row data: ['Guatemala', '110,035', '2024', '102,050', '2023', '95,003', '2022']
Row data: ['Oman', '108,927', '2024', '108,192', '2023', '114,666', '2022']
Row data: ['Bulgaria', '107,933', '2024', '101,584', '2023', '90,213', '2022']
Row data: ['Kenya', '104,001', '2024', '107,441', '2023', '113,419', '2022']
Row data: ['Venezuela', '102,328', '2024', '—', '129,313', '2022']
Row data: ['Uzbekistan', '97,956', '2024', '90,889', '2023', '80,391', '2022']
Row data: ['Costa Rica', '96,058', '2024', '86,498', '2023', '68,380', '2022']
Row data: ['Angola', '92,123', '2024', '84,773', '2023', '113,304', '2022']
Row data: ['Luxembourg', '88,556', '2024', '85,755', '2023', '81,530', '2022']
Row data: ['Croatia', '88,076', '2024', '82,689', '2023', '71,552', '2022']
Row data: ['Panama', '87,347', '2024', '83,382', '2023', '76,522', '2022']
Row data: ['Ivory Coast', '86,911', '2024', '78,789', '2023', '70,018', '2022']
Row data: ['Uruguay', '82,605', '2024', '77,241', '2023', '71,171', '2022']
Row data: ['Turkmenistan', '81,896', '2024', '59,887', '2023', '67,009', '2022']
Row data: ['Serbia', '81,873', '2024', '75,187', '2023', '63,563', '2022']
Row data: ['Lithuania', '81,170', '2024', '77,836', '2023', '70,878', '2022']
Row data: ['Tanzania', '79,605', '2024', '79,158', '2023', '73,535', '[n 8]2022']
Row data: ['Azerbaijan', '78,749', '2024', '72,356', '2023', '78,721', '2022']
Row data: ['Ghana', '75,244', '2024', '76,370', '2023', '73,766', '2022']
Row data: ['Sri Lanka', '74,846', '2022', '84,357', '2023', '76,187', '2022']
Row data: ['DR Congo', '73,761', '2024', '66,383', '2023', '62,551', '2022']
Row data: ['Slovenia', '72,101', '2024', '68,217', '2023', '59,981', '2022']
Row data: ['Belarus', '69,048', '2024', '71,857', '2023', '72,873', '2022']
Row data: ['Myanmar', '68,006', '2024', '64,815', '2023', '65,211', '2022']
Row data: ['Uganda', '56,310', '2024', '49,273', '2023', '48,243', '2022']
Row data: ['Tunisia', '54,708', '2024', '48,530', '2023', '46,181', '2022']
Row data: ['Macau', '54,677', '[n 9]2024', '47,062', '2023', '24,042', '2022']
Row data: ['Jordan', '53,570', '2024', '50,814', '2023', '47,452', '2022']
Row data: ['Cameroon', '53,205', '2024', '47,946', '2023', '44,341', '2022']
Row data: ['Bolivia', '49,334', '2024', '45,850', '2023', '44,008', '2022']
Row data: ['Libya', '48,221', '2024', '50,492', '2023', '40,537', '2022']
Row data: ['Bahrain', '46,790', '2024', '43,205', '2023', '44,382', '2022']
Row data: ['Paraguay', '45,817', '2024', '42,956', '2023', '41,722', '2022']
Row data: ['Latvia', '45,466', '2024', '43,627', '2023', '40,876', '2022']
Row data: ['Cambodia', '45,150', '2024', '31,773', '2023', '29,504', '2022']
Row data: ['Nepal', '44,179', '2024', '40,908', '2023', '39,406', '2022']
Row data: ['Estonia', '43,486', '2024', '40,745', '2023', '38,049', '2022']
Row data: ['Honduras', '37,355', '2024', '34,401', '2023', '31,717', '2022']
Row data: ['Senegal', '35,450', '2024', '31,014', '2023', '27,775', '2022']
Row data: ['El Salvador', '35,333', '2024', '34,016', '2023', '32,488', '2022']
Row data: ['Zimbabwe', '34,405', '2024', '26,538', '2023', '26,418', '2022']
Row data: ['Cyprus', '34,221', '[n 10]2024', '32,230', '[n 10]2023', '29,210', '[n 10]2022']
Row data: ['Iceland', '33,338', '2024', '31,020', '2023', '28,064', '2022']
Row data: ['Georgia', '32,865', '[n 11]2024', '30,536', '[n 11]2023', '24,605', '[n 11]2022']
Row data: ['Papua New Guinea', '31,716', '2024', '30,933', '2022', '31,609', '2022']
Row data: ['Zambia', '29,872', '2024', '28,163', '2023', '29,136', '2022']
Row data: ['Bosnia and Herzegovina', '29,078', '2024', '27,055', '2023', '24,473', '2022']
Row data: ['Trinidad and Tobago', '28,365', '2024', '28,140', '2023', '30,053', '2022']
Row data: ['Sudan', '26,865', '2024', '109,327', '2023', '36,729', '2022']
Row data: ['Guinea', '25,447', '2024', '23,612', '2023', '20,846', '2022']
Row data: ['Albania', '25,431', '2024', '22,978', '2023', '18,916', '2022']
Row data: ['Armenia', '25,408', '2024', '24,212', '2023', '19,513', '2022']
Row data: ['Haiti', '24,046', '2024', '19,851', '2023', '18,751', '2022']
Row data: ['Mozambique', '22,975', '2024', '20,625', '2023', '18,406', '2022']
Row data: ['Malta', '22,737', '2024', '20,957', '2023', '18,100', '2022']
Row data: ['Mongolia', '21,943', '2024', '19,872', '2023', '17,146', '2022']
Row data: ['Burkina Faso', '21,902', '2024', '20,325', '2023', '19,176', '2022']
Row data: ['Lebanon', '21,780', '2022', '17,937', '2023', '39,303', '2022']
Row data: ['Mali', '21,662', '2024', '20,905', '2023', '18,827', '2022']
Row data: ['Botswana', '21,418', '2024', '19,396', '2023', '20,352', '2022']
Row data: ['Benin', '21,371', '2024', '19,673', '2023', '17,396', '2022']
Row data: ['Guyana', '21,178', '2024', '16,786', '2023', '14,718', '2022']
Row data: ['Gabon', '21,013', '2024', '20,516', '2023', '20,132', '2022']
Row data: ['Jamaica', '20,098', '2024', '19,423', '2023', '17,097', '2022']
Row data: ['Nicaragua', '18,829', '2024', '17,829', '2023', '15,671', '2022']
Row data: ['Niger', '18,816', '2024', '16,819', '2023', '15,414', '2022']
Row data: ['Chad', '18,697', '2024', '13,149', '2023', '16,799', '2022']
Row data: ['Palestine', '18,602', '[n 12]2023', '17,396', '[n 12]2023', '19,111', '[n 13]2022']
Row data: ['Moldova', '18,356', '[n 14]2024', '16,539', '[n 14]2023', '14,510', '[n 14]2022']
Row data: ['Yemen', '16,940', '2024', '—', '11,007', '2022']
Row data: ['Madagascar', '16,465', '2024', '16,032', '2023', '14,954', '2022']
Row data: ['Mauritius', '16,359', '2024', '14,397', '2023', '12,898', '2022']
Row data: ['North Macedonia', '15,873', '2024', '14,761', '2023', '13,711', '2022']
Row data: ['Brunei', '15,510', '2024', '15,128', '2023', '16,681', '2022']
Row data: ['Congo', '15,501', '2024', '15,321', '2023', '15,344', '2022']
Row data: ['Laos', '15,190', '2024', '15,843', '2023', '15,362', '2022']
Row data: ['North Korea', '—', '—', '15,176', '2022']
Row data: ['Afghanistan', '14,467', '2022', '14,502', '2022', '14,174', '2022']
Row data: ['Bahamas', '14,390', '2024', '14,339', '2023', '12,897', '2022']
Row data: ['Rwanda', '13,701', '2024', '14,098', '2023', '13,312', '2022']
Row data: ['Kyrgyzstan', '13,599', '2024', '13,988', '2023', '10,930', '2022']
Row data: ['Tajikistan', '12,953', '2024', '12,061', '2023', '10,492', '2022']
Row data: ['Somalia', '12,804', '2024', '11,680', '2023', '10,420', '2022']
Row data: ['Namibia', '12,765', '2024', '12,351', '2023', '12,607', '2022']
Row data: ['Kosovo', '11,318', '2024', '10,438', '2023', '9,397', '2022']
Row data: ['Malawi', '11,241', '2024', '14,084', '2023', '12,558', '2022']
Row data: ['Equatorial Guinea', '10,708', '2024', '12,117', '2023', '11,767', '2022']
Row data: ['Mauritania', '10,628', '2024', '10,453', '2023', '10,997', '2022']
Row data: ['Togo', '9,832', '2024', '9,171', '2023', '8,087', '2022']
Row data: ['New Caledonia', '—', '9,623', '2022', '9,623', '2022']
Row data: ['Syria', '—', '8,980', '2021', '18,595', '2022']
Row data: ['Monaco', '—', '8,784', '2022', '8,772', '2022']
Row data: ['Montenegro', '8,010', '2024', '7,405', '2023', '6,229', '2022']
Row data: ['Liechtenstein', '—', '7,365', '2022', '7,757', '2022']
Row data: ['Bermuda', '—', '7,828', '2022', '7,546', '2022']
Row data: ['Maldives', '7,199', '2024', '6,600', '2023', '6,170', '2022']
Row data: ['Barbados', '6,863', '2024', '6,394', '2023', '5,699', '2022']
Row data: ['Cayman Islands', '—', '6,601', '2022', '6,281', '2022']
Row data: ['South Sudan', '6,517', '2024', '—', '4,616', '2022']
Row data: ['French Polynesia', '—', '5,815', '2022', '5,814', '2022']
Row data: ['Fiji', '5,801', '2024', '5,495', '2023', '4,979', '2022']
Row data: ['Eswatini', '5,085', '2024', '4,598', '2023', '4,326', '2022']
Row data: ['Liberia', '4,754', '2024', '4,332', '2023', '3,265', '2022']
Row data: ['Sierra Leone', '4,558', '2024', '3,810', '2023', '3,481', '2022']
Row data: ['Djibouti', '4,364', '2024', '4,099', '2023', '4,003', '2022']
Row data: ['Suriname', '4,337', '2024', '3,782', '2023', '3,620', '2022']
Row data: ['Aruba', '4,069', '2024', '3,545', '2022', '3,544', '2022']
Row data: ['Andorra', '3,897', '2024', '3,728', '2023', '3,376', '2022']
Row data: ['Belize', '3,296', '2024', '3,282', '2023', '2,830', '2022']
Row data: ['Greenland', '—', '3,236', '2021', '2,926', '2022']
Row data: ['Bhutan', '3,110', '2024', '2,898', '2022', '2,898', '2022']
Row data: ['Curaçao', '—', '3,074', '2022', '3,075', '2022']
Row data: ['Burundi', '3,075', '2024', '2,642', '2023', '4,032', '2022']
Row data: ['Central African Republic', '2,810', '2024', '2,555', '2023', '2,395', '2022']
Row data: ['Cape Verde', '2,718', '2024', '2,587', '2023', '2,314', '2022']
Row data: ['Gambia', '2,694', '2024', '2,340', '2023', '2,231', '2022']
Row data: ['Saint Lucia', '2,582', '2024', '2,520', '2023', '2,165', '2022']
Row data: ['Lesotho', '2,395', '2024', '2,046', '2023', '2,287', '2022']
Row data: ['Eritrea', '—', '—', '2,383', '2022']
Row data: ['Zanzibar', '—', '—', '2,361', '2022']
Row data: ['Seychelles', '2,203', '2024', '2,141', '2023', '1,994', '2022']
Row data: ['Guinea-Bissau', '2,151', '2024', '1,966', '2023', '1,574', '2022']
Row data: ['Antigua and Barbuda', '2,127', '2024', '2,033', '2023', '1,770', '2022']
Row data: ['San Marino', '2,033', '2024', '1,855', '2021', '1,780', '2022']
Row data: ['East Timor', '1,992', '2024', '2,243', '2023', '3,204', '2022']
Row data: ['Solomon Islands', '1,707', '2024', '1,631', '2023', '1,597', '2022']
Row data: ['Sint Maarten', '—', '1,623', '2023', '1,572', '2022']
Row data: ['Comoros', '1,422', '2024', '1,352', '2023', '1,246', '2022']
Row data: ['Grenada', '1,406', '2024', '1,320', '2023', '1,192', '2022']
Row data: ['Turks and Caicos Islands', '—', '1,402', '2023', '1,138', '2022']
Row data: ['Vanuatu', '1,289', '2024', '1,126', '2023', '985', '2022']
Row data: ['Saint Kitts and Nevis', '1,134', '2024', '1,077', '2023', '979', '2022']
Row data: ['Saint Vincent and the Grenadines', '1,128', '2024', '1,066', '2023', '946', '2022']
Row data: ['Samoa', '1,024', '2024', '934', '2023', '857', '2022']
Row data: ['São Tomé and Príncipe', '751', '2024', '603', '2023', '546', '2022']
Row data: ['Dominica', '708', '2024', '654', '2023', '612', '2022']
Row data: ['Tonga', '581', '2024', '500', '2022', '488', '2022']
Row data: ['Micronesia', '484', '2024', '460', '2023', '427', '2022']
Row data: ['Kiribati', '311', '2024', '279', '2023', '223', '2022']
Row data: ['Palau', '308', '2024', '263', '2023', '225', '2022']
Row data: ['Marshall Islands', '305', '2024', '284', '2023', '279', '2022']
Row data: ['Nauru', '161', '2024', '154', '2023', '147', '2022']
Row data: ['Tuvalu', '66', '2024', '62', '2023', '59', '2022']
  Country/Territory     Forecast       Year     Estimate       Year  \
0             World  109,529,216       2024  105,435,540       2023
1     United States   28,781,083       2024   27,360,935       2023
2             China   18,532,633  [n 1]2024   17,794,782  [n 3]2023
3           Germany    4,591,100       2024    4,456,081       2023
4             Japan    4,110,452       2024    4,212,945       2023

      Estimate       Year
0  100,834,796       2022
1   25,744,100       2022
2   17,963,170  [n 1]2022
3    4,076,923       2022
4    4,232,173       2022

## Exercise

* Do the same table scraping for
https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage

* Extract the "Minimum wages by country" table. Similar issue with the header

* Save it to DataFrame.

In [126]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page with the table
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage'

# Send a GET request to the page
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the page content
    soup = BeautifulSoup(response.text, 'html.parser')
    #print(soup.prettify())

    # Find the table with GDP data (the table is under the class "wikitable")
    table = soup.find('table', class_='wikitable')
    #print(table)

    # Extract table headers
    headers = ["Country", "Minimum wage", "Annual Nominal", "Annual PPP", "Workweek", "Hourly Nominal", "Hourly PPP", "Percent of GDP per capita", "Effective per"]
    #headers = [header.text.strip() for header in table.find_all('th')]

    ##
    # ValueError: 10 columns passed, passed data had 7 columns
    ##
    '''
    for header in table.find_all('th'):
      print("header:", header.text.strip())
      print("header:", len(header.text.strip()))
      if (header.text.strip() == "Annual" or header.text.strip() == "Hourly"):
        #and header.text.strip() != "Hourly"):
        continue
      else:
        headers.append(header.text.strip())
    '''
    print("Headers:", headers)


    # Extract table rows
    rows = table.find_all('tr')[1:]  # Skip the header row

    # Initialize lists to hold row data
    data = []
    for row in rows:
        cells = row.find_all('td')
        if len(cells) > 0:
            row_data = [cell.text.strip() for cell in cells]
            #print("Row data:", row_data)
            data.append(row_data)
    # Create a DataFrame from the data
    df = pd.DataFrame(data, columns=headers)

    # Print the DataFrame
    print(df.head())

    # Save the DataFrame to a CSV file
    #df.to_csv('wage_data.csv', index=False)

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Headers: ['Country', 'Minimum wage', 'Annual Nominal', 'Annual PPP', 'Workweek', 'Hourly Nominal', 'Hourly PPP', 'Percent of GDP per capita', 'Effective per']
       Country                                       Minimum wage  \
0  Afghanistan  ؋5,500 (US$67) per month for non-permanent pri...
1      Albania  L40,000 (US$430) per month (480,000 lek per an...
2      Algeria  د.ج 20,000 (US$156.19) per month, nationally (...
3      Andorra                        €7.42 (US$8.33) hourly.[16]
4       Angola  Kz 32,181 (US$61) per month; paid thirteen tim...

  Annual Nominal Annual PPP Workweek Hourly Nominal Hourly PPP  \
0            858      3,272       40           0.41       1.57
1          4,637      8,697       40           2.23       4.18
2          1,777      6,247       40           0.85          3
3         18,253     13,493       40              8          6
4            663      3,161       44           0.29       1.38

  Percent of GDP per capita Effective per
0                    168.3%          2017
1                     75.4%    1 Apr 2023
2                     41.6%    1 May 2020
3                       28%    1 Jan 2023
4                       49%          2022

In [127]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    201 non-null    object
 1   Minimum wage               201 non-null    object
 2   Annual Nominal             201 non-null    object
 3   Annual PPP                 201 non-null    object
 4   Workweek                   200 non-null    object
 5   Hourly Nominal             200 non-null    object
 6   Hourly PPP                 200 non-null    object
 7   Percent of GDP per capita  200 non-null    object
 8   Effective per              200 non-null    object
dtypes: object(9)
memory usage: 14.3+ KB

In [128]:
df

,Country,Minimum wage,Annual Nominal,Annual PPP,Workweek,Hourly Nominal,Hourly PPP,Percent of GDP per capita,Effective per
0,Afghanistan,"؋5,500 (US$67) per month for non-permanent pri...",858,"3,272",40,0.41,1.57,168.3%,2017
1,Albania,"L40,000 (US$430) per month (480,000 lek per an...","4,637","8,697",40,2.23,4.18,75.4%,1 Apr 2023
2,Algeria,"د.ج 20,000 (US$156.19) per month, nationally (...","1,777","6,247",40,0.85,3,41.6%,1 May 2020
3,Andorra,€7.42 (US$8.33) hourly.[16],"18,253","13,493",40,8,6,28%,1 Jan 2023
4,Angola,"Kz 32,181 (US$61) per month; paid thirteen tim...",663,"3,161",44,0.29,1.38,49%,2022
...,...,...,...,...,...,...,...,...,...
196,Venezuela,"The minimum wage in Venezuela is Bs. 400,000 p...",10.32,,,,,,1 May 2020
197,Vietnam,"Varies by region; Region I: ₫4,420,000 per mon...","1,591","4,089",40,0.76,1.97,65%,1 Jan 2020
198,Yemen,"None; the minimum civil service wage was ﷼21,0...",,,48,,,,2013
199,Zambia,Varies by sector; ZMW 993.6 (US$81) per month ...,596,"3,180",48,0.24,1.27,80.8%,10 Sep 2018
200,Zimbabwe,"None, except for agricultural and domestic wor...",,,,,,,2012

In [129]:
df['Hourly Nominal']

0      0.41
1      2.23
2      0.85
3         8
4      0.29
       ...
196
197    0.76
198
199    0.24
200
Name: Hourly Nominal, Length: 201, dtype: object

In [130]:
def convert_percent(val):
    """
    Convert the percentage string to an actual floating point percent
    - Remove %
    - Divide by 100 to make decimal
    """
    new_val = val.replace('%', '').replace(",","")
    print(new_val)
    return (new_val)

In [131]:
#df['Nominal (US$)[6]'].apply(convert_currency)
df['Hourly Nominal'] = pd.to_numeric(df['Hourly Nominal'], errors='coerce') # set as NaN.
#df = df.dropna(subset=['Hourly Nominal'])
df = df.dropna(subset=['Hourly Nominal'])

In [132]:
df

,Country,Minimum wage,Annual Nominal,Annual PPP,Workweek,Hourly Nominal,Hourly PPP,Percent of GDP per capita,Effective per
0,Afghanistan,"؋5,500 (US$67) per month for non-permanent pri...",858,"3,272",40,0.41,1.57,168.3%,2017
1,Albania,"L40,000 (US$430) per month (480,000 lek per an...","4,637","8,697",40,2.23,4.18,75.4%,1 Apr 2023
2,Algeria,"د.ج 20,000 (US$156.19) per month, nationally (...","1,777","6,247",40,0.85,3,41.6%,1 May 2020
3,Andorra,€7.42 (US$8.33) hourly.[16],"18,253","13,493",40,8.00,6,28%,1 Jan 2023
4,Angola,"Kz 32,181 (US$61) per month; paid thirteen tim...",663,"3,161",44,0.29,1.38,49%,2022
...,...,...,...,...,...,...,...,...,...
193,Uruguay,"$U 22,268 (US$563) per month.[248]","6,136","11,405",48,2.46,4.57,52.8%,2024
194,Uzbekistan,"UZS 920,000 (US$84) per month.[249]","1,041","8,591",40,0.50,4.13,131.9%,1 June 2022
195,Vanuatu,"VT 30,000 (US$323) per month, VT 170 per hour....","3,240","3,041",40,1.56,1.46,98.7%,20 Aug 2012
197,Vietnam,"Varies by region; Region I: ₫4,420,000 per mon...","1,591","4,089",40,0.76,1.97,65%,1 Jan 2020
199,Zambia,Varies by sector; ZMW 993.6 (US$81) per month ...,596,"3,180",48,0.24,1.27,80.8%,10 Sep 2018

In [134]:
df['Percent of GDP per capita']

0      168.3%
1       75.4%
2       41.6%
3         28%
4         49%
        ...
193     52.8%
194    131.9%
195     98.7%
197       65%
199     80.8%
Name: Percent of GDP per capita, Length: 158, dtype: object

In [135]:
df['Percent of GDP per capita'].apply(convert_percent)

168.3
75.4
41.6
28
49
34.4
1616.7
51.7
64.7
68.5
42.5
15.8
39.8
0
59.6
121.3
99.1
22.7
130.6
66.1
23.9
55.4
80.4
107.6
50.4
49.5
52.1
220.3
175
56.8
28.5
97.9
199.5
92.4
64.1
69.4
50.6
10.8
0.4
43.5
38.6
44.1
104
81.5
17.2
49.3
19
57.4
57
26.9
57.1
3.5
63.7
77
63.8
87.8
58.1
40.9
179.1
209
22
69.8

38
60.5
131.1
30.1
33.5
40.6
96.1
41
128.6
29.2
52.5
129.5
65.5
56.3
4.8
18.6
79.1
51
62.5
102.6
1.2
166.2
77.2
26.2
11.7
106.3
88.6
39.2
73.4
38
95.7
7.7
25.8
52
131.2
17[161]
64.9
71.2
108.9
245.9
52.6
198.3
46.9
74.7
84.9
165.5
115.9
36.7
42.5
125
40.7

28.1
66.8
135.1
54.3
94
100.2
47.2
91
37.4
34.4
29.2
35.1
38.4
45.5
63
50.2
22.7
176.2
50
65.9
42.7
78.2
54.9
19.6
23
54
33.7
43.2
21.3
55.1
99.2
120.5
16.7
58
71.3
164.5
69.7
26.2
52.8
131.9
98.7
65
80.8

0      168.3
1       75.4
2       41.6
3         28
4         49
       ...
193     52.8
194    131.9
195     98.7
197       65
199     80.8
Name: Percent of GDP per capita, Length: 158, dtype: object

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 0 to 199
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    158 non-null    object
 1   Minimum wage               158 non-null    object
 2   Annual Nominal             158 non-null    object
 3   Annual PPP                 158 non-null    object
 4   Workweek                   158 non-null    object
 5   Hourly Nominal             158 non-null    float64
 6   Hourly PPP                 158 non-null    object
 7   Percent of GDP per capita  158 non-null    object
 8   Effective per              158 non-null    object
dtypes: float64(1), object(8)
memory usage: 12.3+ KB